@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Public+Sans:wght@300;400&display=swap');

body {
  font-family: 'Mulish', sans-serif !important;
  background-color: $background-color;
}

.card {
  border: 1px solid $gray;
  box-shadow: 0px 2px 8px $gray;
  border-radius: 8px;
  padding: 20px;
  background-color: $white;
}

.divider {
  border: 1px solid $gray;
}

.chips {
  margin-top: 25px;

  &__item {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: $gray;
    font-weight: 600;
    font-size: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

a {
  color: $blue;
  font-size: 14px;
  font-weight: 700 !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  z-index: 2;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}